In [3]:
__author__ = 'dev'
age=24
#print("My age is "+ age + "years") --- can only concatenate str (not "int") to str
print("My age is "+ str(age) + " years")

My age is 24 years

In [6]:
print("My age is {0} years".format(age))

My age is 24 years

In [17]:
"""Format method is string formatting methods in Python3, which allows multiple substitutions and value
formatting. This method lets us concatenate elements within a string through positional formatting.
(value) : Can be an integer, floating point numeric constant, string, characters or even variables.
Returntype : Returns a formatted string with the value passed as parameter in the placeholder position."""

print("There ae {0} days in {1}, {2}, {3}, {4}, {5}, {6}, {7}".format(31,'Jan','Mar','May',"july","aug",'oct',"dec"))

There ae 31 days in Jan, Mar, May, july, aug, oct, dec

In [23]:
print("""January: {0} days
Febuary: {1} days
March: {0} days
April: {2} days
May: {0} days
June: {2} days
July: {0} days
August: {0} days
September: {2} days
Octuber: {0} days
November: {2} days
December: {0} days
      """.format(31,28,30))

January: 31 days
Febuary: 28 days
March: 31 days
April: 30 days
May: 31 days
June: 30 days
July: 31 days
August: 31 days
September: 30 days
Octuber: 31 days
November: 30 days
December: 31 days

In [26]:
# in python2 insted of format methos below mwthos was used

print("My age is %d %s, %d %s" %(age, "years" ,6, "months"))

My age is 24 years, 6 months

In [30]:
for i in range(1, 12):
    print("No. %2d squared is %4d and  cubed is %4d" %(i, i**2, i**3))

No.  1 squared is    1 and  cubed is    1
No.  2 squared is    4 and  cubed is    8
No.  3 squared is    9 and  cubed is   27
No.  4 squared is   16 and  cubed is   64
No.  5 squared is   25 and  cubed is  125
No.  6 squared is   36 and  cubed is  216
No.  7 squared is   49 and  cubed is  343
No.  8 squared is   64 and  cubed is  512
No.  9 squared is   81 and  cubed is  729
No. 10 squared is  100 and  cubed is 1000
No. 11 squared is  121 and  cubed is 1331

In [37]:


print("Pi is %12f" %(22/7))

Pi is     3.142857

In [40]:
print("Values of Pi is %12.20f "%(22/7))

Values of Pi is 3.14285714285714279370

In [41]:
for i in range(1, 12):
    print("No. {0:2} squared is {1:4} and  cubed is {2:4}".format(i, i**2, i**3))

No.  1 squared is    1 and  cubed is    1
No.  2 squared is    4 and  cubed is    8
No.  3 squared is    9 and  cubed is   27
No.  4 squared is   16 and  cubed is   64
No.  5 squared is   25 and  cubed is  125
No.  6 squared is   36 and  cubed is  216
No.  7 squared is   49 and  cubed is  343
No.  8 squared is   64 and  cubed is  512
No.  9 squared is   81 and  cubed is  729
No. 10 squared is  100 and  cubed is 1000
No. 11 squared is  121 and  cubed is 1331

In [46]:
for i in range(1, 12):
    print("No. {0:<2} squared is {1:<4} and  cubed is {2:<4}".format(i, i**2, i**3))

No. 1  squared is 1    and  cubed is 1
No. 2  squared is 4    and  cubed is 8
No. 3  squared is 9    and  cubed is 27
No. 4  squared is 16   and  cubed is 64
No. 5  squared is 25   and  cubed is 125
No. 6  squared is 36   and  cubed is 216
No. 7  squared is 49   and  cubed is 343
No. 8  squared is 64   and  cubed is 512
No. 9  squared is 81   and  cubed is 729
No. 10 squared is 100  and  cubed is 1000
No. 11 squared is 121  and  cubed is 1331

In [49]:
print("Values of Pi is {0:12.50} ".format(22/7))

Values of Pi is 3.1428571428571427937015414499910548329353332519531

In [50]:
data = "1:A, 2:B, 3:C, 4:D, 5:E, 6:F, 7:G, 8:H"
print(data[::5])

12345678