# Data PreProcessing

### Read file location

In [1]:
import os
cwd=os.getcwd()

In [2]:
print(cwd)

C:\Users\ADMIN\Documents\DataScience\Python\Github\practice\MachineLearning\Udemy

In [3]:
# Set Files Name
dataFileName='Data.csv'

In [4]:
# search for file
for root, dir, files in os.walk(cwd):
    for name in files:
        if (name==dataFileName)  and ('Part1DataPreprocessing' in root):
            print(os.path.abspath(os.path.join(root,name)))
            finalPath=os.path.abspath(os.path.join(root,name))

C:\Users\ADMIN\Documents\DataScience\Python\Github\practice\MachineLearning\Udemy\Data\Part1DataPreprocessing\Data.csv

In [5]:
# check final path
print(finalPath)

C:\Users\ADMIN\Documents\DataScience\Python\Github\practice\MachineLearning\Udemy\Data\Part1DataPreprocessing\Data.csv

In [6]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib as mlib

In [7]:
#read file
rawData=pd.read_csv(finalPath)

In [8]:
rawData

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [9]:
x=rawData.iloc[:,:-1].values
y=rawData.iloc[:,-1].values

In [10]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [11]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

## Taking care of Missing Data

In [12]:
# import important libraries

from sklearn.impute import SimpleImputer # does not work with python3.7
#from sklearn.preprocessing import Imputer

## Taking care of missing data

In [16]:
import sklearn.impute
from sklearn import impute
from sklearn.impute import SimpleImputer

In [17]:
imputer=SimpleImputer(missing_values=np.nan, strategy='mean')

In [18]:
imputer.fit(x[:,1:3]) #this methos will looks only for numercial columns therefore we have mentioned the column

SimpleImputer()

In [19]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [20]:
x[:,1:3]=imputer.transform(x[:,1:3])

In [21]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [15]:
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

## Encoding Categorical data

In [24]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [26]:
# create object of transformer class
ct=ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[0])], remainder='passthrough')
# ColumnTransformer has fit method so we willl directly call fit method inseted of calling fit method from imputer class. Lets see how
x= np.array(ct.fit_transform(x))

In [27]:
x

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

## Endocing Dependent Variable

In [ ]:
from sklearn.preprocessing import