# Read file location

In [23]:
import os
cwd=os.getcwd()

In [24]:
print(cwd)

C:\Users\ADMIN\Documents\DataScience\Python\Github\practice\MachineLearning\Udemy

In [25]:
# Set Files Name
dataFileName='Data.csv'

In [26]:
# search for file
for root, dir, files in os.walk(cwd):
    for name in files:
        if (name==dataFileName)  and ('Part1DataPreprocessing' in root):
            print(os.path.abspath(os.path.join(root,name)))
            finalPath=os.path.abspath(os.path.join(root,name))

C:\Users\ADMIN\Documents\DataScience\Python\Github\practice\MachineLearning\Udemy\Data\Part1DataPreprocessing\Data.csv

In [27]:
# check final path
print(finalPath)

C:\Users\ADMIN\Documents\DataScience\Python\Github\practice\MachineLearning\Udemy\Data\Part1DataPreprocessing\Data.csv

In [28]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib as mlib

In [29]:
#read file
rawData=pd.read_csv(finalPath)

In [30]:
rawData

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [39]:
x=rawData.iloc[:,:-1].values
y=rawData.iloc[:,-1].values

In [40]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [41]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

## Taking care of Missing Data

In [42]:
# import important libraries

from sklearn.imput import SimpleImputer # does not work with python3.7
#from sklearn.preprocessing import Imputer

ModuleNotFoundError: No module named 'sklearn.imput'

In [43]:
import sklearn.impute
from sklearn import impute
from sklearn.impute import SimpleImputer

In [44]:
imputer=SimpleImputer(missing_values=np.nan, strategy='mean')

In [45]:
imputer.fit(x[:,1:3])

SimpleImputer()

In [46]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [47]:
x[:,1:3]=imputer.transform(x[:,1:3])

In [48]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [37]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [38]:
print(x)

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0