In [3]:
import pandas as pd

In [13]:
def create_date_table2(start='2000-01-01', end='2099-12-31'):
    df = pd.DataFrame({"Date": pd.date_range(start, end)})
    df["Day"] = df.Date.dt.weekday_name
    df["Week"] = df.Date.dt.weekofyear
    df["Quarter"] = df.Date.dt.quarter
    df["Year"] = df.Date.dt.year
    df["Year_half"] = (df.Quarter + 1) // 2
    return df

In [15]:
create_date_table2().tail()

            Date        Day  Week  Quarter  Year  Year_half
36520 2099-12-27     Sunday    52        4  2099          2
36521 2099-12-28     Monday    53        4  2099          2
36522 2099-12-29    Tuesday    53        4  2099          2
36523 2099-12-30  Wednesday    53        4  2099          2
36524 2099-12-31   Thursday    53        4  2099          2